<!DOCTYPE html>
<html lang="en">
<head>
    <% include main/partials/head.ejs%>
</head>

<body>

<% include main/partials/header.ejs%>



        <%- body %>


<% include main/partials/footer.ejs%>

</body>
</html>


