<%- layout('boilerplate') -%>
<link rel="stylesheet" href="css/about.css">

<div class="section no-pad-bot" id="index-banner">
    <div class="container about-content">
        <div class="row">
            <div id="text-main" class="col m5 text-main">
                <h1>about me</h1>
                <p class="intro">I'm a Front End Developer from Vinnytsia, Ukraine.</p>
                <p>My passion is web development oriented on creating fast, beautiful and intuitive web applications. I aim to build websites that work amazing on any device.</p>
                <p>Also I love JavaScript.</p>

                <div class="download-cv">
                    <a class="btn download-link" target="_blank" href="/downloads/CV_Yaroslav_Veselovskyi.pdf">Download my CV</a>
                </div>
            </div>

        </div>
    </div>
</div>