<%- layout('boilerplate') -%>

    <link rel="stylesheet" href="css/contacts.css">

    <div class="footer-content">

        <div class="section no-pad-bot" id="index-banner">
            <div class="hidden main-chat-window">
                <div class="container">
                    <div class="row">
                        <div class="col m12">
                            <div class="chat-box chat-box-default">
                            </div>
                        </div>
                        <input id='user-message' type="text" placeholder="Type your answer here...">
                        <button id='send-to-bot' class="send-message btn indigo darken-4">Send</button>
                    </div>
                </div>
            </div>

            <div id='stars'></div>
            <div id='stars2'></div>
            <div id='stars3'></div>
            <div id='title'>
              <button id="contact-chat" class="btn custom-contact">Contact!</button>
            </div>



        </div>
    </div>
    <script src="js/contact-bot.js"></script>
