<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Veselovskyi Yaroslav</title>
    <meta name="description" content="Front-end developer portfolio">
    <meta name="author" content="Yaroslav Veselovskyi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/public/assets/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/public/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/public/assets/img/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="font/custom-flaticons/flaticon.css">
</head>

<body>

<div class="loader">
    <div class="bar">
        <div class="loaded"></div>
    </div>
</div>

<nav class="default" role="navigation">
    <div class="nav-wrapper container center">
        <ul class="hide-on-med-and-down main-menu">
            <li><a class="underlined-white" href="#">Home</a></li>
            <li><a class="underlined-white" href="#">About</a></li>
            <li><a class="underlined-white" href="/works">Works</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav default">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="main-info">
    <p>Yaroslav Veselovskyi</p>
    <p>Front-End Developer</p>
</div>



<!-- particles.js container -->
<div id="particles-js"></div>


<section class="about">
    <div class="chapter-title">
        <img class="responsive-img" src="/img/about.png" alt="">
    </div>
    <div class="chapter-about">
        <p class="mb">I am a front-end developer from Ukraine living in Vinnytsia</p>
        <p class="mb">I'm a self-taught web designer, front-end developer, co-founder and entrepreneur based in Ukraine. I'm currently working as a front-end developer in Vinnytsia, building web and mobile applications. My passion is to use technology based solutions,
            to help solve real world challenges.</p>
        <div class="social-media">
            <ul class="social-icons">
                <li> <i class="flaticon-menu"></i></li>
                <li> <i class="icons hidden flaticon-facebook-logo-button"></i></li>
                <li> <i class="icons hidden flaticon-instagram-logo"></i></li>
                <li> <i class="icons hidden flaticon-linkedin-logo-button"></i></li>
                <li> <i class="icons hidden flaticon-social"></i></li>
            </ul>
        </div>
    </div>
</section>





<!--  Scripts-->
<script src="/public/assets/js/particles.js"></script>
<script src="/public/assets/js/app.js"></script>
<script src="/public/assets/js/jquery-2.2.4.min.js"></script>
<script src="/public/assets/js/materialize.min.js"></script>
<script src="/public/assets/js/init.js"></script>

</body>

</html>
