<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Veselovskyi Yaroslav</title>
    <meta name="description" content="Front-end developer portfolio">
    <meta name="author" content="Yaroslav Veselovskyi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="img/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="font/custom-flaticons/flaticon.css">
</head>

<body>

<div class="loader">
    <div class="bar">
        <div class="loaded"></div>
    </div>
</div>

<nav class="default" role="navigation">
    <div class="nav-wrapper container center">
        <ul class="hide-on-med-and-down main-menu">
            <li><a class="underlined-white" href="/">Home</a></li>
            <li><a class="underlined-white" href="/about">About</a></li>
            <li><a class="underlined-white" href="/works">Works</a></li>
            <li><a class="underlined-white" href="/contacts">Contacts</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav default">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="main-info">
    <p>Yaroslav Veselovskyi</p>
    <p>Front-End Developer</p>
</div>



<!-- particles.js container -->
<div id="particles-js"></div>


<!--  Scripts-->
<script src="js/particles.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/init.js"></script>

</body>

</html>
