<%- layout('boilerplate') -%>
<link rel="stylesheet" href="css/works.css">

<div class="section no-pad-bot" id="index-banner">
    <div class="container works-content">
        <br><br>
        <h1 class="header center black-text">My Works</h1>
        <div class="row center">
            <h5 class="header col s12 light">Soon I will add my projects and their github links here</h5>
        </div>
    </div>
</div>
