.intro {
  color: #666666;
  margin-bottom: 10px;
  font-size: 18px; }

.download-link {
  background: transparent;
  color: #000;
  text-align: center;
  font-weight: 300;
  margin-top: 30px; }
  .download-link:hover {
    background: #000;
    color: #fff; }
  .download-link:focus {
    background: #ffffff;
    color: #000; }
