<footer class="page-footer black">
    <div class="container">
        <div class="row">
          <div class="col m6">
              <p class="white-text">There will be social</p>
          </div>
            <div class="col m6 footer-name">
                <h6 class="white-text">Yaroslav Veselovskyi</h6>
                <p class="grey-text text-lighten-4">2017</p>
            </div>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/init.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/script.js"></script>
