<footer class="page-footer black">
    <div class="container">
        <div class="row">
          <div class="col m6 s12">
              <div class="social-icons">
                  <a href="https://vk.com/id20099035" target="_blank"><img src="/img/vk.png" alt="vk-logo"></a>
                  <a href="https://www.facebook.com/yveselovskyi" target="_blank"><img src="/img/facebook.png" alt=""></a>
                  <a href="https://www.linkedin.com/in/yaroslav-veselovskyi-26b986112/" target="_blank"><img src="/img/linkedin.png" alt=""></a>
                  <a href="https://github.com/YVeselovskyi/"  target="_blank"><img src="/img/github.png" alt=""></a>
              </div>
          </div>
            <div class="col m6 s12">
                <div class="footer-info">
                <p><a class="home-link" href="/">Yaroslav Veselovskyi</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/init.js"></script>
<script src="js/materialize.min.js"></script>